:root{
    --paleblue: hsl(225, 100%, 94%);
    --brightblue: hsl(245, 75%, 52%);
    --verypaleblue: hsl(225, 100%, 98%);
    --desaturatedblue: hsl(224, 23%, 55%);
    --darkblue: hsl(223, 47%, 23%);
}


*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    min-height:100vh;
    background: var(--paleblue) url(images/pattern-background-desktop.svg) top no-repeat;
    font-family:'Red Hat Display', sans-serif;
}

a{
    text-decoration: none;
}

.container{
    display: flex;
    height:100vh;
    justify-content:center;
    align-items: center;
    flex-wrap:wrap;
}

.main-container{
    display:flex;
    flex-direction: column;
    width:70%;
    max-width: 23rem;
    justify-content: center;
    flex-wrap: wrap;
    filter:drop-shadow(0 4px 10px lightgray);
}

.main-pic{
    width:100%;
    border-top-left-radius: 1.5rem;
    border-top-right-radius:1.5rem;
}

.main-description{
    display:flex;
    width:100%;
    flex-direction: column;
    gap:1rem;
    background-color:white;
    text-align:center;
    align-items:center;
    border-bottom-left-radius:1.5rem;
    border-bottom-right-radius:1.5rem;
}

.main-description h2{
    padding-top:2rem;
    font-weight: 700;
    color:var(--darkblue);
}

.main-p{
    padding:0 4rem;
    color:var(--desaturatedblue);
}

.small-card{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    border-radius:1rem;
    background-color:var(--verypaleblue);
    padding:1rem 1rem;
    width:80%;
    gap:1rem;    
}

.plan{
    flex:1;
    text-align:left;
    color:var(--darkblue);
}

.plan p{
    color:var(--desaturatedblue);
} 
.change{
    text-decoration: underline;
    color:var(--brightblue);
}

.payment{
    background-color:var(--brightblue);
    padding:0.7rem 4rem;
    border-radius:0.5rem;
    filter:drop-shadow(0px 10px 4px lightgray);
    color:white;
}

.cancel{
    color:var(--desaturatedblue);
    font-weight: 600;
    padding-bottom:1rem;
}

.change:hover{
    text-decoration: none;
}

.payment:hover{
    opacity:0.7;
}

.cancel:hover{
    color:var(--darkblue);
}

@media screen and (max-width:500px){

    .main-container{
        width:90%;
        min-width:270px;
    }

    .main-p{
      padding: 0.5rem;
    }

    .small-card{
        gap:0.3rem;
        width:90%;
        padding:0.5rem;
        max-width:270px;
    }

    .payment{
        padding: 0.5rem 3rem;
    }

    
}






